.showtoie7 {
  display:none
}
.float-right {
  float:right;
}
.float-left {
  float:left;
}
.clear {
  display:block;
  clear:both;
}
.empty {
  margin-bottom: 25px;
  font-style: italic;
  color: grey;
  text-align: center;
}
